.dashboard-container {
    margin-top: 50px;

    .dashboard-header {
        margin-left: auto; 
        margin-right: 0;

        .dashboard-header-text {
            font-size: 30px;
            color: white;
        }

        .create-button-container {
            display: flex;
        }
    }
}

.card {
    border: 1px solid #1c1d1b;
    background-color: #373836 !important;
    margin-top: 20px;

    .card-body {
        display: flex;
        justify-content: space-between;
    }

    .card-title {
        color: #ffffff;
    } 

    .card-subtitle {
        color: #ffffff !important;
    } 
}

.games-container {
    margin-top: 15px;
}

.container-subtitle {
    color: #ffffff !important;
}

.games-status-container {
    margin-top: 30px;
}

.game-card-button {
    margin-left: 5px;
}